body{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 2;
    padding: 0;
    margin: 0;
    background-color: black
}

/* global settings*/
.container{
    width: 80%;
    margin: auto;
    overflow:hidden;
}

/*header settings*/
header{
    background-color: black;
    color: white;
    border-color: crimson;
    padding-top: 40px;
    min-height: 80px;
    border-bottom-color: darkred 5px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}

header #branding h1{
    margin: 0;   
}

header #branding nav{
    float: right;
    margin-top: 20px
}

header .current a{
    color: crimson;
    font-weight: bold
}

header a:hover{
    color: green;
}

/* showcase settings*/
#showcase{
    min-height: 800px;
    min-width: 800px;
    object-position: center;
    background: url("../img/home.jpg");
    align-items: center;
    text-align: center;
    color: black;
    margin-left:
}

#showcase h1{
    margin-top: 100px;
    font-size: 80;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 30px;
    color: black
}

#sign-in{
    padding: 15px;
    color: white;
    background-color: beige;
}

#sign-in hi{
    color: maroon;   
}

#sign-in form{
    float: right
}

#sign-in input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#sign-in input[type="password"]{
    padding: 4px;
    height: 25px;
    width: 150px;
}

footer{
    color: beige
}